<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>

    <div class="mb-3">
        <label style="margin-right: 10px;">Your gender: </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-2" value="female" formControlName="gender"> Female
        </label>
    </div>

    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['nickname'])" [label]="'Nickname'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Date of Birth'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [inputType]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'" [inputType]="'password'"></app-text-input>

    <div class="text-center">
        <button class="btn btn-success me-3" type="submit">Register</button>
        <button class="btn btn-outline-danger" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<p>Form Value: {{registerForm.value | json}}</p>
<p>Form Status: {{registerForm.status | json}}</p>
