<div class="card">
    <div class="card-body">
        <div *ngIf="(messageService.messagesThread$ | async)?.length === 0">
            <strong>No Messages yet! Start a conversation using the Message Box below...</strong>
        </div>

        <ul *ngIf="(messageService.messagesThread$ | async)!.length > 0" class="chat">
            <li *ngFor="let message of (messageService.messagesThread$ | async)">
                <div>
                    <span class="chat-img float-end">
                        <img class="rounded-circle" 
                            src="{{message.senderProfilePhotoUrl || './assets/user.png'}}" 
                            alt="user image">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o"> {{message.messageSent + 'Z' | timeago}}</span>
                                <span class="text-danger" 
                                    *ngIf="!message.messageRead && message.senderUsername !== username">
                                    (Unread)
                                </span>
                                <span class="text-success" 
                                    *ngIf="message.messageRead && message.senderUsername !== username">
                                    (Read {{message.messageRead + 'Z' | timeago}})
                                </span>
                            </small>
                        </div>
                        <p>{{message.messageContent}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                    name="messageContent"
                    required
                    [(ngModel)]="messageContent"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="Send a private message...">
                <div class="input-group-append">
                    <button class="btn btn-primary ms-1" type="submit" [disabled]="!messageForm.valid">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
