<h2>Admin Panel</h2>
<div class="tab-panel">
    <tabset class="member-tabset">
        <tab heading="Manage Users' Roles" *appHasRole="['Admin']">
            <div class="container">
                <app-manage-users></app-manage-users>
            </div>
        </tab>
        <tab heading="Manage Users' Photos" *appHasRole="['Admin', 'Moderator']">
            <div class="container">
                <app-manage-user-photos></app-manage-user-photos>
            </div>
        </tab>
    </tabset>
</div>
