<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 35%; text-transform: capitalize; font-weight: bold;">Username</th>
                <th style="width: 35%; text-transform: capitalize; font-weight: bold;">Current Roles</th>
                <th style="width: 30%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.roles}}</td>
                <td><button class="btn btn-info btn-sm" (click)="openRolesModal(user)">Edit Roles</button></td>
            </tr>
        </tbody>
    </table>
</div>
